[Unit]
Description=Python service for PiDaemon
After=network.target


[Service]
User=root
Group=www-data
WorkingDirectory=/opt/pidaemon
Environment="PATH=/opt/pidaemon/venv/bin"
ExecStart=/opt/pidaemon/venv/bin/python pidaemon.py

[Install]
WantedBy=multi-user.target